

body {
    background-color: #0e1012;
    margin: 5%;
  }
  
  .card_container {
    border-radius: 5px;
    background-color: #333;
    margin: 16px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px #333;
  }
  
  .create_container {
    border-radius: 5px;
    background-color: #333;
    margin: 15px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px #333;
  }
  
  .create_container1 {
    border-radius: 5px;
    background-color: #333;
    margin: 10px;
    padding: 15px;
    position: relative;
    box-shadow: 2px 2px 2px #333;
  }
  
  .dcc_compon {
    margin: 0;
    padding: 5px;
    width: calc(100%-40px);
  }
  
  .fix_label {
    font-size: 20px;
    margin: 0;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: calc(100%-40px);
  }
  
  .flex-display {
    display: flex;
  }
  
  .container-display {
    display: flex;
  }
  
  #header {
    align-items: center;
  }
  
  #refresh-data {
    text-align: center;
    height: 100%;
    padding: 0 20px;
    text-transform: none;
    font-size: 20px;
    float: right;
    margin-right: 10px;
    margin-top: 30px;
  }
  
  #title {
    text-align: center;
  }
  
  #title1 {
    text-align: center;
  }
  
  #mainContainer {
    display: flex;
    flex-direction: column;
  }
  

  
  /* width */
  ::-webkit-scrollbar {
    width: 10px !important;
    display: block !important;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333 !important;
    border-radius: 10px !important;
    display: block !important;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0e1012;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white !important;
  }
  